{{>head}}

    <div class="aboutheading">
        <h1>about us</h1>
        <p> <a href="/">home >></a> about </p>
    </div>

    <section class="content">
        <h2 style="color: gold;">About Fitness Club</h2>
        <p>Fitness club provides a 24/7 Fitness facility to residents of Martinsville and Henry County, as well as surrounding
            areas to help people reach and maintain their goals. We combine different types of fitness equipment to meet
            different fitness needs and levels. <br><br>

            At Fitness club you’ll find all the latest strength and cardio equipment along with a energetic group exercise
            program that includes POUND, Zumba, Kickboxing, Bootcamp, Muscle Building and many other cardio classes.
            You’ll find a supportive environment with all kinds of people who are working just as hard as you to meet
            their goals.<br><br>

            Our Staff, Trainers and Group exercise instructors are committed to offering our members a great fitness
            experience. Whether you’re a mom looking to get back into shape, a marathon runner trying to shave a few
            minutes off your personal best or just trying to stay healthy we would love to help you realize your
            potential and meet your goals!!
        </p>

    </section>

    
<section class="about">

    <div class="box-container">

        <div class="box">
            <h3>Equipment</h3>
            <span > <i class="fas fa-arrow-right"></i> Treadmills</span>
            <span > <i class="fas fa-arrow-right"></i> Ellipticals</span>
            <span > <i class="fas fa-arrow-right"></i> Exercise cycles</span>
            <span > <i class="fas fa-arrow-right"></i> Stair climbers</span>
            <span > <i class="fas fa-arrow-right"></i> Rowing machines</span>
            <span > <i class="fas fa-arrow-right"></i> Free weights</span>
            <span > <i class="fas fa-arrow-right"></i> Racks</span>
            <span > <i class="fas fa-arrow-right"></i> Synergy 360 systems</span>
            <span > <i class="fas fa-arrow-right"></i> Kettlebells</span>
            <span > <i class="fas fa-arrow-right"></i> Amt cross trainers</span>
        </div>
        
        <div class="box">
            <h3>Services</h3>
            <span > <i class="fas fa-arrow-right"> </i> 24-hour access</span>
            <span > <i class="fas fa-arrow-right"></i>24-hour security </span>
            <span > <i class="fas fa-arrow-right"></i> private sanitized restrooms</span>
             <span > <i class="fas fa-arrow-right"></i>convenient parking </span>
            <span > <i class="fas fa-arrow-right"></i> health plan discounts</span>
            <span > <i class="fas fa-arrow-right"></i> gym reservation system</span>
            <span > <i class="fas fa-arrow-right"></i> private restrooms</span>
                       <span > <i class="fas fa-arrow-right"></i>hdtvs </span>
            <span > <i class="fas fa-arrow-right"></i>wellness programs </span>
            <span > <i class="fas fa-arrow-right"></i> worldwide club Access</span>
        </div>
        <div class="box">
            <h3>Lifestyle</h3>
            <span > <i class="fas fa-arrow-right"></i>Personal training </span>
            <span > <i class="fas fa-arrow-right"></i>Team workouts </span>
            <span > <i class="fas fa-arrow-right"></i>Zumba classes </span>
            <span > <i class="fas fa-arrow-right"></i>Yoga classes </span>
            <span > <i class="fas fa-arrow-right"></i>Cardio classes </span>
        </div>

    </div>

</section>




            {{>footer}}

<script src="js/script.js"></script>
</body>
</html>