{{>head}}


    <div class="contactheading">
        <h1>contact us</h1>
        <p> <a href="/">home >></a> contact </p>
    </div>
    
    <section class="contact">
    
        <div class="icons-container">
    
            <div class="icons">
                <i class="fas fa-phone"></i>
                <h3>our number</h3>
                <p>8307714148</p>
                            </div>
    
            <div class="icons">
                <i class="fas fa-envelope"></i>
                <h3>our email</h3>
                <p>akesh.12011005@gmail.com</p>
             </div>
    
            <div class="icons">
                <i class="fas fa-map-marker-alt"></i>
                <h3>our address</h3>
                <p>IIIT Sonepat</p>
                
            </div>
    
        </div>
    
        <div class="row">
    
            <form action="/contact" method="post">
                <h3>Ask Query</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Enter your name" class="box" name="aname">
                    <input type="email" placeholder="Enter your email" class="box" name="aemail">
                </div>
                <div class="inputBox">
                    <input type="number" placeholder="Enter your number" class="box" name="aPhoneno">
                    <input type="text" placeholder="Enter your subject" class="box" name="asubject">
                </div>
                <textarea placeholder="Your Query" cols="30" rows="10" name="aquestion"></textarea>
                {{!-- <input type="submit" value="Send" class="btn"> --}}
                <button type="submit" value="Send" class="btn" onclick="alert('We will solve your query as soon as possible!')">Send</button>
                
            </form>
    
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3491.1853457723482!2d77.10171821426796!3d28.952226576292084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390daddf6cade053%3A0xfd7ceeb61e0dbbe1!2sIIT%20Delhi%20Sonipat%20Campus!5e0!3m2!1sen!2sin!4v1634467672569!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>
   
        </div>
    
    </section>
    

  
    
            {{>footer}}

<script src="js/script.js"></script>
</body>
</html>