{{>head}}

    <div class="dietheading">
        <h1>Diet</h1>
        <p> <a href="/">home >></a> diet </p>
    </div>
    <section class="content">
        <h1 style="color: gold;">Ideal 7-day gym diet</h1>
        <p>While calories and macronutrients are important, the ideal gym diet will be one that positively
            influences health. This is a diet that is rich in vitamins and minerals where all three macronutrients
            are consumed and nutrient-sparse foods are restricted. <br>Below you can find a 7-day gym diet guide:
        </p>
        <h3 style="color: gold;">Day 1</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Oatmeal with Greek Yogurt &amp; Seasonal fruits<br>Mango Juice</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Multigrain roti, fish curry, vegetable salad</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Toast with Jam</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Broken wheat khichidi, carrot raita, egg white, and vegetable salad</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: gold;">Day 2</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Oatmeal with Greek Yogurt &amp; Seasonal fruits<br>Mango Juice</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Multigrain roti, fish curry, vegetable salad</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Toast with Jam</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Broken wheat khichidi, carrot raita, egg white, and vegetable salad</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: gold;">Day 3</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Poached Eggs<br>Whole Grain Toast<br>Protein Shake</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Quinoa upma, chicken and broccoli salad</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Mixed Nuts &amp; Dried Fruits</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Lean Beef and vegetable curry, brown rice, cucumber raita<br>Baby Potatoes<br>Chocolate Milk
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: gold;">Day 4</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Oatmeal with Honey<br>Apple Juice</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Grilled Chicken<br>Salad<br>Whole Grain Bread</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Toast with Peanut Butter</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Methi Chicken<br>Brown Rice<br>Broccoli<br>Protein Shake</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: gold;">Day 5</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Scrambled Egg<br>Whole Grain Toast<br>Smoothie</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Grilled chicken vegetable roti rolls<br>Green Salad</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Mixed Nuts &amp; Dried Fruits</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Chicken Stir Fry<br>Spring Onion, Peppers &amp; Broccoli<br>Chocolate Milk</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: gold;">Day 6</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Oatmeal<br>Whole Grain Toast<br>Orange Juice</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Whole Grain Chicken Wrap<br>Black Beans, Peppers &amp; Greek Yogurt</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Apple with peanut butter</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Keema bhurji and multigrain rotiLean Beef Mince<br>Sweet Potato<br>Protein Shake</td>
                </tr>
            </tbody>
        </table>
        <h3 style="color: gold;">Day 7</h3>
        <table>
            <tbody>
                <tr>
                    <td>Breakfast</td>
                    <td>Oatmeal with Nuts<br>Smoothie</td>
                </tr>
                <tr>
                    <td>Lunch</td>
                    <td>Whole wheat pasta with chicken and <br>Green Salad</td>
                </tr>
                <tr>
                    <td>Pre-Workout Snack</td>
                    <td>Granola or Cereal</td>
                </tr>
                <tr>
                    <td>Dinner<br>(Post-Workout)</td>
                    <td>Fish curry, boiled green peas salad<br>Brown Rice<br>Garden Peas<br>Milk</td>
                </tr>
            </tbody>
        </table>
        <p> <br> While the above guide will prove to be useful, be aware that when it comes to nutrition, everyone is
            different. Not only will physical attributes determine your nutritional requirements, the goals that you
            have set will also influence your diet.</p>
        <p> For example, two goals that are extremely common are fat loss
            and muscle growth. To lose fat, calories must be restricted which will cause stored body fat to be
            broken down. For muscle growth, calorie intake must be increased to build significant muscle size as
            additional calories are required to accelerate the recovery process.</p>

        <p> Macro-nutrient demands for both fat loss and muscle growth are similar. Firstly, protein intake should remain high for both. For muscle
            growth, protein is evidently required for building mass. The role of protein in fat loss is to prevent
            muscle tissue breakdown as far as possible.</p>
        <p> As highlighted, carbohydrates are extremely important ins
            energy and replenishment. As a result, those looking to lose weight and build muscle should get the
            majority of their calories from carb sources. &nbsp;  
            
        <p> While consuming healthy fats is important, reducing the total amount of fat consumed helps to most effectively restrict calories. This is because,
            at nine calories per gram, fats contain the greatest number of calories per gram – protein and carbohydrates both contain four calories per gram.</p>
        <h3 style="color: gold;">Foods to Avoid</h3>
        <p>In the same way that proper nutrition has the potential to optimize performance and adaptation, improper
            nutrition can detrimentally affect progress and health. The following three foods should be avoided or
            limited as far as possible.
         <p>Trans fats are a type of dietary fat that has consistently been shown to
            impact health. While trans fats do naturally occur in small quantities, artificial trans fats are
            notoriously hazardous. Artificial trans fats can be found in baked goods, fast food, and many snack
            foods.</p>   
        <p> As mentioned, many simple carbohydrate foods do not have great nutritional value and contain a high
            amount of sugar. While they may be useful for a short term energy boost, consuming a large number of
            simple carbs can be detrimental.</p>
        <p> Eating a great quantity of simple carbohydrates will spike blood sugar levels initially. However, very quickly, blood sugar levels will nosedive and can leave you feeling lethargic
            which is less than optimal for exercise and performance.</p>
        <p> Although technically not a food, alcohol is a substance that should also be limited as far as possible. There is much research to indicate that
            alcohol negatively impacts recovery and may even interfere with the muscle-building process.
        </p>
        <h3 style="color: gold;">Summary</h3>
        <p>It is now clear that there are many different aspects of nutrition that must be considered when it comes
            to optimizing gym progress and to generally improve health. Following the guidelines and recommendations
            outlined in this article will allow you to make substantial changes to your performance and health.</p>


        </section>
    
            {{>footer}}

<script src="js/script.js"></script>
</body>
</html>