{{>head}}

    <section class="home">
        <div class="slides-container">
            <div class="slide active">
                
                <div class="image">
                    <img src="img/abs.jpg" alt="">
                </div>
            </div>
            <div class="slide">
               
                <div class="image">
                    <img src="img/arms.jpg" alt="">
                </div>
            </div>
            <div class="slide">
                
                <div class="image">
                    <img src="img/back.jpg" alt="">
                </div>
            </div>
            <div class="slide">
                
                <div class="image">
                    <img src="img/chest.jpg" alt="">
                </div>
            </div>
            <div class="slide">
                
                <div class="image">
                    <img src="img/diet.jpg" alt="">
                </div>
            </div>
            
            <div class="slide">
                
                <div class="image">
                    <img src="img/shoulders.jpg" alt="">
                </div>
            </div>
            <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
            <div id="prev-slide" class="fas fa-angle-left" onclick="prev()"></div>
        </div>

    </section>

    <section class="content">
        <h2 style="color: gold;">Advantages of Going to the Gym Everyday: Everything You Need to Know</h2>
        <p>In today’s hectic and fast moving world, having a gym membership is the one thing that can motivate you
            to
            work
            out and keep yourself in shape. There is no denying the fact that regular exercise can benefit your body
            and
            also keep your mind and brain on top of things. Working out in the gym not only helps you shed those
            extra
            pounds, keeps you fit but also has a whole lot of health benefits.
            <br><br>
            Regular exercise has been shown to improve cardiovascular fitness and decrease blood pressure and blood
            fat
            levels and decrease belly fat. The importance of physical fitness can thus be equated to the benefits of
            joining
            a gym as this is a clear shot to a healthy body and mind.
        </p>
        <h3 style="color: gold;">Helps in weight loss</h3>
        <p>Exercise is crucial to supporting a fast metabolism and burning more calories per day. It also helps
            maintain
            muscle mass and weight loss. <br><br>

            Daily physical activity is essential to maintaining a healthy weight and reducing the risk of chronic
            disease.</p>
        <h3 style="color: gold;">Helps brain health and memory</h3>
        <p>Regular exercise improves blood flow to the brain and helps brain health and memory. Among older adults,
            it
            can help protect mental function. <br><br>

            It acts as an energy booster as regular exercise can reduce fatigue and can significantly increase
            energy
            levels.</p>
        <h3 style="color: gold;">Strength training</h3>
        <p>These exercises make your muscles stronger. Strengthening your muscles not only makes you stronger, but
            also
            stimulates bone growth, lowers blood sugar, assists with weight control, improves balance and posture,
            and
            reduces stress and pain in the lower back and joints. These can include body weight exercises like
            squats,
            push-ups, and lunges, and exercises involving resistance from a weight, a band, or a weight machine.</p>
        <h3 style="color: gold;">Balance</h3>
        <p>Balance exercises not only helps in preventing falls but also your ability to control and stabilize your
            body's position. These exercises are especially beneficial as we get older. Typical balance exercises
            include standing on one foot or walking heel to toe. Balance-focused exercise classes, such as tai chi
            or
            yoga are offered in many gyms. It's always good to get ahead of things and start with these workouts and
            exercises so that later in life balancing your body weight will not be a hindrance to your daily
            routine.
        </p>
        <h3 style="color: gold;">Aerobic exercises</h3>
        <p>Aerobic exercises give your heart and lungs a workout and increase endurance. It also helps relax blood
            vessel walls, lower blood pressure, and burn body fat, lower blood sugar levels, reduce inflammation,
            boost
            mood. This type of exercise can reduce the risk of cardiovascular disease, type 2 diabetes and high
            blood
            pressure, and may even lower the risk of cancer.</p>
        <h3 style="color: gold;">Flexibility</h3>
        <p>These exercises are especially beneficial as they stretch your muscles and may improve your range of
            motion
            at your joints. They can improve your flexibility and reduce your risk of injury during sports and other
            activities. <br><br>

            You can also avail of the exercise machines/gym machines to maintain a healthy body. And if you require
            special or additional attention with specific training, you could also avail of the gym personal
            trainer,
            who will be able to help and guide you during your gym workouts. Gym trainers are particularly helpful
            in
            performing the right workouts and motivating you to go that extra mile and bring about consistency in
            your
            gym regime. The importance of fitness in life cannot be undermined as a healthy body and mind go a long
            way
            in not improving your lifestyle but also contribute to longevity.</p>
        

        <div><strong style="color: rgba(51, 255, 0, 0.822);">The last three or four reps is what makes the muscle grow. <br>
            This area of pain divides a champion from someone who is not a champion.</strong> <br>
            <p style="color: gold;">-Arnold Schwarzenegger, seven-time Mr. Olympia</p>
        </div>
    </section>




{{>footer}}  

<script src="js/script.js"></script>

<script src="js/slider.js"></script>
</body>
</html>