{{>head}}

    <div class="joinheading">
        <h1>join us</h1>
        <p> <a href="/">home >></a> join us </p>
    </div>

    <section class="contact">
    
        <div class="row joinform" >
    
            <form action="/joinus" method="post">
                <h3>Join us</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Enter your name" class="box" name="name">
                    <input type="text" placeholder="Enter your age" class="box" name="age">
                </div>
                <div class="inputBox">
                    <div class="box inputBox">
                        <label for="branch"> Branch</label>
                        <select name="branch" id="branch"  >
                            <option value="Delhi">Delhi</option>
                            <option value="Mumbai">Grugram</option>
                            <option value="Kanpur">Sonepat</option>
                        </select>
                    </div>
                    <div class="box inputBox">
                        <label for="gender"> Gender</label>
                        <select name="gender" id="branch"  >
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>

                </div>
                <div class="inputBox">
                    <input type="email" placeholder="Enter your email" class="box" name="email">
                    <input type="number" placeholder="Enter your number" class="box" name="Phoneno">
                </div>
                <textarea placeholder="Your address" cols="30" rows="10" name="address"></textarea>
                <button type="submit" value="Join " class="btn" onclick="alert('Thanks for joining!')">Join</button>
                {{!-- <input type="submit" value="Join " class="btn" > --}}
              
                </form>
    
    
        </div>
    
    </section>
    












<section class="content membership">
    <h2 style="color: gold;"> Membership Benefits Include</h2>
</section>

<section class="about">

    <div class="box-container">

        <div class="box">
            <h3>Equipment</h3>
            <span > <i class="fas fa-arrow-right"></i> Treadmills</span>
            <span > <i class="fas fa-arrow-right"></i> Ellipticals</span>
            <span > <i class="fas fa-arrow-right"></i> Exercise cycles</span>
            <span > <i class="fas fa-arrow-right"></i> Stair climbers</span>
            <span > <i class="fas fa-arrow-right"></i> Rowing machines</span>
            <span > <i class="fas fa-arrow-right"></i> Free weights</span>
            <span > <i class="fas fa-arrow-right"></i> Racks</span>
            <span > <i class="fas fa-arrow-right"></i> Synergy 360 systems</span>
            <span > <i class="fas fa-arrow-right"></i> Kettlebells</span>
            <span > <i class="fas fa-arrow-right"></i> Amt cross trainers</span>
        </div>
        
        <div class="box">
            <h3>Services</h3>
            <span > <i class="fas fa-arrow-right"> </i> 24-hour access</span>
            <span > <i class="fas fa-arrow-right"></i>24-hour security </span>
            <span > <i class="fas fa-arrow-right"></i> private sanitized restrooms</span>
            <span > <i class="fas fa-arrow-right"></i>convenient parking </span>
            <span > <i class="fas fa-arrow-right"></i> health plan discounts</span>
            <span > <i class="fas fa-arrow-right"></i> gym reservation system</span>
            <span > <i class="fas fa-arrow-right"></i> private restrooms</span>
            <span > <i class="fas fa-arrow-right"></i>hdtvs </span>
            <span > <i class="fas fa-arrow-right"></i>wellness programs </span>
            <span > <i class="fas fa-arrow-right"></i> worldwide club Access</span>
        </div>
        <div class="box">
            <h3>Lifestyle</h3>
            <span > <i class="fas fa-arrow-right"></i>Personal training </span>
            <span > <i class="fas fa-arrow-right"></i>Team workouts </span>
            <span > <i class="fas fa-arrow-right"></i>Zumba classes </span>
            <span > <i class="fas fa-arrow-right"></i>Yoga classes </span>
            <span > <i class="fas fa-arrow-right"></i>Cardio classes </span>
        </div>

    </div>

</section>




            {{>footer}}

<script src="js/script.js"></script>

</body>
</html>