<footer class="footer">
                <a href="/chest">Chest</a>
                <a href="/back">Back</a>
                <a href="/arms">Arms</a>
                <a href="/abs">Abs</a>
                <a href="/legs">Legs</a>
                <a href="/shoulders">Shoulders</a>
                </footer>