<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health and Fitness</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    {{!-- fitness logo --}}
    <link rel="shortcut icon" href="img/fitnesslogo.jpg" type="image/jpg">

</head>
<body id="body">
    <header>

        <div class="header-1">
    
            <a href="#" class="logo">Health<i>&</i>Fitness</a>
    
            <!-- <form action="" class="search-box-container">
                <input type="search" id="search-box" placeholder="search here...">
                <label for="search-box" class="fas fa-search"></label>
            </form> -->
    
        </div>
    
        <div class="header-2">
    
            <div id="menu-bar" class="fas fa-bars"></div>
    
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/joinus">Join Us</a>
                <a href="/contact">Contact</a>
                <a href="/diet">DietChart</a>
            </nav>
    
            <div class="icons">
                <a href="https://www.instagram.com/akesh_yadav_/" ><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UC0yFCyPloF9RZffCrvEBtbg" ><i class="fab fa-youtube"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100074072975297" ><i class="fab fa-facebook"></i></a>
            </div>
    
        </div>
    
    </header>